.user-item-container {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
    max-width: 100%;
    margin: auto;
}

.table-responsive {
    margin-top: 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s;
}

.thead-dark th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.btn {
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.btn-info {
    background-color: #6c757d; /* Gris oscuro */
    border: none;
}

.btn-info:hover {
    background-color: #5a6268;
    box-shadow: 0 8px 15px rgba(108, 117, 125, 0.3);
}

.btn-danger {
    background-color: #343a40; /* Gris más oscuro */
    border: none;
}

.btn-danger:hover {
    background-color: #23272b;
    box-shadow: 0 8px 15px rgba(52, 58, 64, 0.3);
}

.no-users-message {
    text-align: center;
    font-size: 1.2rem;
    color: #343a40;
    margin-top: 20px;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .thead-dark th,
    .table td {
        font-size: 0.9rem;
    }

    .btn {
        width: 100%;
        margin-bottom: 5px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
